{% extends 'app.html' %}

{% load static %}

{% block style %}
<!-- summernote -->
<link rel="stylesheet" href="{% static 'manager/plugins/summernote/summernote-bs4.min.css' %}">
{% endblock %}

{% block js %}
<!-- Summernote -->
<script src="{% static 'manager/plugins/summernote/summernote-bs4.min.js' %}"></script>

<script>
  $(function () {
    // Summernote
    $('#summernote').summernote()
  })
</script>
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-body overflow-auto">
                        <a onclick="history.back()" class="btn btn-outline-danger btn-sm mb-3">
                            <i class="fas fa-arrow-left"></i>
                            Retour
                          </a>
                        {% if user.is_staff %}
                            <a href="{% url 'buildingEdit' pk=building.id %}">
                                <button type="button" class="btn btn-outline-primary btn-sm mr-1 mb-3">
                                    <i class="fas fa-edit mr-1"></i> Mettre à jour
                                </button>
                            </a>
                        {%endif%}
                        <p style="line-height: 30px;">
                            <span>Nom de la propriété : <b>{{building.name}}</b></span><br>
                            <span>Catégorie : <b>{{building.building_type}}</b></span><br>
                            <span>Adresse: <b>{{building.address}}</b></span><br>
                            <span>Description : <br>{{building.description_}}</span><br>
                        </p>

                        <table class="table table-bordered mt-4 table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom du fichier</th>
                                    <th>Lien de téléchargement</th>
                                    <th>Typre de fichier</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <a href="{{ building.contract_file_path.url }}">{{ building.contract_file_path.url }}</a>
                                    </td>
                                    <td>{{ building.contract_file_path.url }}</td>
                                    <td>Contrat de gestion</td>
                                    <td>
                                        <a href="{{ building.contract_file_path.url }}" class="btn btn-outline-danger btn-sm mr-1">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <div class="card">
                <form action="{% url 'landlordSave' %}" method="POST" enctype="multipart/form-data">
                    <div class="card-body overflow-auto">
                        <div class="row">
                            <div class="form-group col-md-12 mb-0">
                                {% if user.is_staff %}
                                    <a href="{% url 'appartmentCreate' pk=building.id %}">
                                        <button type="button" class="btn btn-outline-primary btn-sm mr-1 mb-3">
                                            <i class="fas fa-plus"></i> Ajouter un appartement
                                        </button>
                                    </a>
                                {%endif%}

                                <table class="table table-bordered table-responsive">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Prix (FCFA)</th>
                                            <th>Adresse</th>
                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for appartment in appartments %}
                                        <tr>
                                            <td>{{ appartment.id }}</td>
                                            <td>{{ appartment.name }}</td>
                                            <td>{{ appartment.price }}</td>
                                            <td>{{ appartment.address }}</td>
                                            <td>
                                                {% if user.is_staff %}
                                                    <a href="{% url 'appartmentEdit' pk=appartment.id %}" class="btn btn-outline-primary btn-sm mr-1">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                {%endif%}
                                                <a href="{% url 'appartmentDetail' pk=appartment.id %}" class="btn btn-outline-warning btn-sm mr-1">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
