{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tableau de bord | Immo </title>

  {% include 'includes/css.html' %}
  {% block style %}
  {% endblock %}
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse"> 
    <div class="wrapper">

        {% include 'partials/header.html' %}

        {% include 'partials/aside.html' %}

        <div class="content-wrapper">
            {% block content %}

            {% endblock %}
        </div>

        {% include 'includes/js.html' %}
        {% block js %}
        {% endblock %}
    </div>
</body>
</html>