{% extends 'app.html' %}

{% load static %}

{% block content %}
<section class="content">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-12 mt-3">
		  <div class="card">
			<div class="card-body">
			  {% comment %} <a href="{% url 'retraitAdd' %}" class="btn btn-outline-primary btn-sm mb-3">
				<i class="fas fa-user-plus"></i>
				Faire un retrait
			  </a> {% endcomment %}
			  <a onclick="history.back()" class="btn btn-outline-danger btn-sm mb-3">
				<i class="fas fa-arrow-left"></i>
				Retour
			  </a>
			  <div class="table-responsive">
			  <table class="table table-bordered">
				<thead>
				  <tr>
					<th>Nom et Prénoms</th>
					<th>A l'ordre de : </th>
					<th>Montant</th>
					<th>Description</th>
					<th>Statut</th>
					<th></th>
				  </tr>
				</thead>
				<tbody>
					{% for retrait in retraits %}
						<tr>
							<td>{{ retrait.landlord }}</td>
							<td>{{ retrait.code }}</td>
							<td>{{ retrait.montant }}</td>
							<td>{{ retrait.description }}</td>
							<td>
								{% if retrait.status == 'encours' %}
									<span class="badge bg-info">En cours</span>
								{% elif retrait.status == 'valide' %}
									<span class="badge bg-success">Validé</span>
								{% else %}
									<span class="badge bg-danger">Rejeté</span>
								{% endif %}								
							</td>
							<td>
								{% if retrait.status == 'encours' %}
									<a href="{% url 'retaitActivate' pk=retrait.id status='valide' %}" class="btn btn-outline-success btn-sm mr-1">
										<i class="fas fa-check"></i>
									</a>
									
									<a href="{% url 'retaitActivate' pk=retrait.id status='rejet' %}" class="btn btn-outline-danger btn-sm mr-1">
										<i class="fas fa-times"></i>
									</a>
								{% elif retrait.status == 'valide' %}
									<a href="{% url 'retaitActivate' pk=retrait.id status='rejet' %}" class="btn btn-outline-danger btn-sm mr-1">
										<i class="fas fa-times"></i>
									</a>
								{% else %}
									<a href="{% url 'retaitActivate' pk=retrait.id status='valide' %}" class="btn btn-outline-success btn-sm mr-1">
										<i class="fas fa-check"></i>
									</a>
								{% endif %}	
								
		
								{% comment %} <a href="{% url 'retraitDetail' pk=retrait.id %}" class="btn btn-outline-warning btn-sm mr-1">
									<i class="fas fa-eye"></i>
								</a> {% endcomment %}
							</td>
					  	</tr>
					{% endfor %}
				</tbody>
			  </table>
			</div>
			<!-- /.card-body -->
			<div class="card-footer clearfix">
			  <ul class="pagination pagination-sm m-0 float-right">
				<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</section>
{% endblock %}
